[submodule "vagrant/puppet/modules/php"]
	path = vagrant/puppet/modules/php
	url = https://github.com/saz/puppet-php.git
[submodule "vagrant/puppet/modules/rabbitmq"]
	path = vagrant/puppet/modules/rabbitmq
	url = https://github.com/Mayflower/puppetlabs-rabbitmq.git
[submodule "vagrant/puppet/modules/apt"]
	path = vagrant/puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "vagrant/puppet/modules/stdlib"]
	path = vagrant/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "vagrant/puppet/modules/graphite"]
	path = vagrant/puppet/modules/graphite
	url = https://github.com/dwerder/puppet-graphite.git
