web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
bin/*
!bin/graphite-test.sh
composer.phar
vagrant/.vagrant
tags
vagrant/*.box
app/virtual-machines/worker/001/Vagrantfile

app/virtual-machines/worker/002/Vagrantfile

app/virtual-machines/worker/003/Vagrantfile

app/virtual-machines/worker/004/Vagrantfile

app/virtual-machines/worker/005/Vagrantfile

app/virtual-machines/worker/006/Vagrantfile

app/virtual-machines/worker/007/Vagrantfile

app/virtual-machines/worker/008/.vagrant

app/virtual-machines/worker/008/Vagrantfile

app/virtual-machines/worker/009/.vagrant

app/virtual-machines/worker/009/Vagrantfile
